body {
  background-color: #0a0a0a;
  padding: 0;
  margin: 0;
  color: white;
  padding-top: 15px;
  /* cursor: none; */
  overflow-x: hidden;
}

.main-content {
  position: relative;
  z-index: 1;
}


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Flex", "Roboto Flex Fallback";
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.7;
}
