
#header {
    display: flex;
    justify-content: space-around;
}

/* #header-right{
    justify-content: flex-end;
} */

.title-name {
  margin: 0;
}

.buttons {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
}