
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#header {
    display: flex;
    justify-content: center;
    background-color: #212121;
}

.buttons {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
}