#hero {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 0 80px;
  background-color: #F6F6FA;
  /* min-height: 90vh;                */
}

.intro {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.hero-title {
  margin: 10px 0;
  font-size: 60px;
}

.hero-desc {
  margin: 15px 0;
  font-size: 20px;
}

.hero-role {
  margin-bottom: 10px;
  font-size: 25px;
}

.hero-buttons{
    display: flex;
    gap: 30px;
    padding: 10px;
}

.hero-buttons a{
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 10px;
}

.linkdin-btn{
    border: 1px black solid;
}

.touch-btn{
    background-color: #FDBB22;
}

#hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-height: 85vh;
  padding-bottom: 10px;
  /* object-fit: cover; */
}