#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background-color: #0a0a0a;

  /* min-height: 90vh;                */
}

.intro {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  margin: 10px 0;
  font-size: 60px;
  color: white;
}

.hero-desc {
  margin: 15px 0;
  font-size: 20px;
}

.hero-role {
  margin-bottom: 10px;
  font-size: 25px;
  color: #00F050;
}

.hero-buttons {
  display: flex;
  gap: 30px;
  padding: 10px;
}

.hero-buttons a {
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

.linkdin-btn {
  border: 1px whitesmoke solid;
}

.touch-btn {
  background-color: #00F050;
}

#hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-height: 85vh;
  padding-bottom: 10px;
  /* object-fit: cover; */
}
