#skills-container {
  margin-top: 50px;
  padding: 0 80px;

 background-color: #F6F6FA;

}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .skills-icons {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .skills-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}


.skills-title{
   font-size: 34px;
  font-weight: 800;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.skills-title::after {
  content: "";
  display: block;
  width: 60px;       /* line length */
  height: 3px;       /* thickness */
  background: #FBAE1B; /* color */
  margin: 8px auto 0; /* space + center */
  border-radius: 2px;
}

.skills-description{
  font-size: 20px;

}