

.skill {
  display: flex;
  gap: 15px;
  align-items: center;
  background: #0a0a0a;
  padding: 10px;
  border-radius: 8px;
  
}

.skill-icon {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-icon svg {
  width: 90%;
  height: 90%;
}

.skill-name {
  font-weight: 600;
  font-size: 16px;
}
